# Python Fundamentals: Introduction to Pandas
# SOLUTIONS

## ðŸ¥Š Challenge 1: From Dictionary to Data Frame

You can easily build a data frame from a dictionary. However, the following code gives an error. Why does it have an error? 

ðŸ’¡ **Tip:** Google the line at the bottom of the error message if you need help!

In [4]:
# We need to add an item in the "country" list
country = ['Afghanistan', 'Greece', 'Liberia']
continent = ['Asia', 'Europe', 'Africa']
life_exp = [28.801, 76.670, 46.027]

country_dict = {
    'fruit': country,
    'length': continent,
    'color': life_exp}

pd.DataFrame(country_dict)

         fruit  length   color
0  Afghanistan    Asia  28.801
1       Greece  Europe  76.670
2      Liberia  Africa  46.027

## ðŸ¥Š Challenge 2: Putting Methods in Order

In the following code we want to to find the most frequently occurring continent in the data. Put the following code fragments in the right order!

In [5]:
import pandas as pd

df = pd.read_csv('../data/gapminder-FiveYearData.csv')
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [6]:
df['continent'].value_counts().head(1)

Africa    624
Name: continent, dtype: int64

## ðŸ¥Š Challenge 3: Subsetting Data Frames

Subset the data frame to include only people with a life expectancy lower than 50.

In [7]:
# YOUR CODE HERE
df[df['lifeExp'] < 50]

          country  year         pop continent  lifeExp    gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801   779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332   820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997   853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020   836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088   739.981106
...           ...   ...         ...       ...      ...          ...
1691       Zambia  2007  11746035.0    Africa   42.384  1271.211593
1692     Zimbabwe  1952   3080907.0    Africa   48.451   406.884115
1701     Zimbabwe  1997  11404948.0    Africa   46.809   792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989   672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487   469.709298

[491 rows x 6 columns]

## ðŸ¥Š Challenge 4: Calculating Mean Life Expectancy

Let's make use of subsetting to do some calculation! Calculate the **mean life expectancy** for a continent of your choice. 

This means you will have to:
1. Subset your data using a Boolean mask. Check out the code cells under "Conditional Subsetting" for a refresher.
2. Take the `continent` column from that subset.
3. Apply a Pandas method to get the mean from that column.

Some of you might be able to solve this straight away. For others, it may seem a bit too complicated. 
If that's the case, let's do a Google search! 

**It's completely normal to Google for errors, and every programmer does it.**

1. Enter in Google the name of the computer language or package, and your question (for instance: "Pandas calculate mean").
2. Read and compare the results you find.
3. Try 'em out!

In [8]:
# YOUR CODE HERE
df[df['continent'] == 'Asia']['lifeExp'].mean()

60.06490323232324